.botao {
    background-color: rgb(73, 4, 138);
    border: rgb(73, 4, 138);
    margin: 5px;
}
.navbar{
    background-color: rgb(73, 4, 138);
    border: rgb(73, 4, 138);
    border-radius: 10px;
    margin-top: 10px;
}
.text-white {
    color: #ffffff;
}
